body{
background-color: #E1EDFF;
}

.char1{
  color: red;
  font-size: 120px;
 font-family: 'Rammetto One', cursive;
}

.char2{
color : #14AFA3;
font-size: 100px;
}

.char3 {
color : #FF7712;
font-family: 'Oswald', sans-serif;
font-size: 130px;
}

.char4 {
  color: #1D06FF;
  font-size: 110px;
  font-family: 'Rammetto One', cursive;
}

.char5 {
  color: #ffff;
  font-size: 120px;
}

.char6{
color: #65E0B3;
font-size: 80px;
font-family: 'Oswald', sans-serif;
}


.char7 {
  color: #FF0606;
  font-size: 120px;
  font-family: 'Rammetto One', cursive;
}

.char8 {
  color: #ffff;
  font-size: 120px;
}

.char9 {
  color: red;
  font-size: 120px;
 font-family: 'Rammetto One', cursive;
}

.char10 {
  color : #14AFA3;
  font-size: 100px;
}


.char11 {
color : #FF7712;
font-family: 'Oswald', sans-serif;
font-size: 130px;
}

.char12 {
  color: #1D06FF;
  font-size: 110px;
  font-family: 'Rammetto One', cursive;
}

.char13{
color: #65E0B3;
font-size: 80px;
font-family: 'Oswald', sans-serif;
}

.char14 {
  color: #ffff;
  font-size: 120px;
}

.char15{
  color: red;
  font-size: 120px;
 font-family: 'Rammetto One', cursive;
}

.char16{
color : #14AFA3;
font-size: 100px;
}

.char17 {
color : #FF7712;
font-family: 'Oswald', sans-serif;
font-size: 130px;
}

.char18 {
  color: #1D06FF;
  font-size: 110px;
  font-family: 'Rammetto One', cursive;
}

.char19 {
  color: #red;
  font-size: 120px;
}

.char2O{
color: #65E0B3;
font-size:130px;
font-family: 'Oswald', sans-serif;
}


.char21 {
  color: #FF0606;
  font-size: 120px;
  font-family: 'Rammetto One', cursive;
}

.char22 {
  color : #14AFA3;
  font-size: 120px;
}

.char23 {
  color: #65E0B3;
  font-size: 120px;
 font-family: 'Rammetto One', cursive;
}

.gallery {
justify-content: center;
align-items: center;

}
img{
  align-content: center;
  margin-left: 45px;

}

h1 {
  text-align: center;
}
